Source: python-erlastic
Section: devel
Priority: extra
Build-Depends: debhelper (>= 5), build-essential, python-all-dev
Maintainer: Manish Singh <manish@rd.io>
Standards-Version: 3.9.2
XS-Python-Version: all

Package: python-erlastic
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends}
Description: Python implementation of Erlang binary term codec
  This module lets you deal with Erlang binary terms in Python.
